.form-success {
  position: fixed;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 3px;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.form-success p,
.form-success p a {
  text-align: initial !important;
}

.form-success a {
  cursor: pointer;
  padding: 25px 30px;
  font-weight: 300;
  color: #bbb;
  float: right;
}

.form-page {
  width: 100%;
  margin: 80px auto 0;
  display: inline-block;
}

.form-page * {
  font-family: 'Roboto', sans-serif;
}

.form-page h1 {
  font-weight: bold;
  width: 960px;
  margin: 1em auto;
  font-size: 60px;
}

.form-page form {
  max-width: 960px;
  margin: 30px auto;
}

.form-page form .grouping {
  width: 100%;
  padding: 0;
  margin: 0 auto 50px;
  display: table;
}

.form-page form .grouping h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.form-page form .grouping .input {
  position: relative;
  margin-top: 35px;
  float: left;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.form-page form .grouping .input.hidden {
  height: 0px;
  margin-top: 0px;
}

.form-page form .grouping .input.checkbox {
  margin-top: 0;
  padding: 10px 11px;
}

.form-page form .grouping .input.checkbox:nth-of-type(1),
.form-page form .grouping .input.checkbox:nth-of-type(2) {
  margin-top: 35px;
}

.form-page form .grouping .input.col-1 {
  width: 50%;
}

.form-page form .grouping .input.col-1:nth-of-type(n) {
  padding-right: 11px;
}

.form-page form .grouping .input.col-1:nth-of-type(2n) {
  padding-left: 11px;
}

.form-page form .grouping .input.col-1:nth-of-type(2n) label {
  left: 20px;
}

.form-page form .grouping .input.col-2 {
  width: 100%;
}

.form-page form .grouping .input textarea {
  resize: vertical;
}

.form-page form .grouping .input input,
.form-page form .grouping .input textarea {
  display: block;
}

.form-page form .grouping .input input,
.form-page form .grouping .input textarea,
.form-page form .grouping .input .hiddenDiv {
  font-size: 18px;
  font-weight: 300;
  margin-top: 11px;
  min-height: 32px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  padding: 0 10px 10px 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e6;
}

.form-page form .grouping .input input:focus,
.form-page form .grouping .input textarea:focus,
.form-page form .grouping .input .hiddenDiv:focus {
  outline: none;
}

.form-page form .grouping .input input:focus ~ .bar:before,
.form-page form .grouping .input textarea:focus ~ .bar:before,
.form-page form .grouping .input .hiddenDiv:focus ~ .bar:before,
.form-page form .grouping .input input:focus ~ .bar:after,
.form-page form .grouping .input textarea:focus ~ .bar:after,
.form-page form .grouping .input .hiddenDiv:focus ~ .bar:after {
  width: 50%;
}

.form-page form .grouping .input input:focus ~ .highlight,
.form-page form .grouping .input textarea:focus ~ .highlight,
.form-page form .grouping .input .hiddenDiv:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

.form-page form .grouping .input input:focus ~ label,
.form-page form .grouping .input textarea:focus ~ label,
.form-page form .grouping .input .hiddenDiv:focus ~ label,
.form-page form .grouping .input input:focus ~ label,
.form-page form .grouping .input textarea:focus ~ label,
.form-page form .grouping .input .hiddenDiv:focus ~ label,
.form-page form .grouping .input input.used ~ label,
.form-page form .grouping .input textarea.used ~ label,
.form-page form .grouping .input .hiddenDiv.used ~ label {
  top: -11px;
  font-size: 12px;
  font-weight: 200;
  color: #000;
}

.form-page form .grouping .input label {
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 100;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 5px;
  transition: 0.2s ease all;
}

.form-page form .grouping .input .bar {
  position: relative;
  display: block;
  width: 100%;
}

.form-page form .grouping .input .bar:before,
.form-page form .grouping .input .bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #ffc328;
  transition: 0.2s ease all;
}

.form-page form .grouping .input .bar:before {
  left: 50%;
}

.form-page form .grouping .input .bar:after {
  right: 50%;
}

.form-page form .grouping .input .highlight {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  top: 12px;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.form-page form .grouping fieldset {
  border: none;
  padding: 0 0 0 10px;
  margin: 35px 0 0 0;
}

.form-page form .grouping fieldset legend {
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
}

.form-page form .grouping fieldset ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-page form .grouping fieldset ul li {
  padding: 10px 0;
}

.form-page form .grouping fieldset ul li label {
  font-weight: 300;
  margin-left: 10px;
  color: #a9a9a9;
}

.form-page form .grouping fieldset ul li input:checked ~ label {
  color: #000;
}

.form-page form .grouping#releaseForm h2,
.form-page form .grouping#publicityClause h2,
.form-page form .grouping#codeOfEthics h2 {
  float: left;
}

.form-page form .grouping a {
  float: left;
  padding: 8px 8px 0;
  margin: 0 20px;
  color: #4799FC;
  text-decoration: none;
  cursor: pointer;
}

.form-page form .grouping a.open {
  display: initial;
}

.form-page form .grouping a.close {
  display: none;
}

.form-page form .grouping.inset.open a.open {
  display: none;
}

.form-page form .grouping.inset.open a.close {
  display: initial;
}

.form-page form .grouping .insetWrapper {
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 50px -5px -5px;
  -webkit-transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
  -o-transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
  transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
}

.form-page form .grouping.inset.open .insetWrapper {
  padding: 5px;
}

.form-page form #releaseForm.inset.open .insetWrapper {
  height: 295px;
}

.form-page form #publicityClause.inset.open .insetWrapper {
  height: 215px;
}

.form-page form #codeOfEthics.inset.open .insetWrapper {
  height: 390px;
}

.form-page form .grouping .inset {
  width: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  float: left;
  display: inline-block;
  clear: both;
  padding: 30px;
  background: white;
}

.form-page form .grouping .inset p {
  width: 100%;
  margin: 0;
}

.form-page form .grouping .inset p em {
  width: 100%;
}

.form-page form .grouping .inset ol {
  padding-left: 20px;
  margin-bottom: 1em;
  text-align: justify;
  width: 100%;
  margin: 15px auto;
}

.form-page form .grouping .inset ol li {
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 12px;
}

.form-page form .grouping .inset ol li a {
  font-family: 'Libre Baskerville', serif;
  float: none;
}

.form-page form .grouping .checkbox input {
  width: auto;
  float: left;
  margin-top: 6px !important;
  min-height: initial;
}

.form-page form .grouping .checkbox input:focus ~ label,
.form-page form .grouping .checkbox input:valid ~ label {
  top: initial;
  font-size: 18px;
  font-weight: 100;
  color: #a9a9a9;
}

.form-page form .grouping .checkbox label {
  margin-left: 10px;
  float: left;
  position: initial;
}

.noscroll {
  overflow: hidden;
}

.hiddenDiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@-moz-keyframes inputHighlighter {
  from {
    background: #ffc328;
  }

  to {
    width: 0;
    background: transparent;
  }

}

@-webkit-keyframes inputHighlighter {
  from {
    background: #ffc328;
  }

  to {
    width: 0;
    background: transparent;
  }

}

@-o-keyframes inputHighlighter {
  from {
    background: #ffc328;
  }

  to {
    width: 0;
    background: transparent;
  }

}

@keyframes inputHighlighter {
  from {
    background: #ffc328;
  }

  to {
    width: 0;
    background: transparent;
  }

}

